:root {
  --background-color: white;
  --primary-color: #82294a;
  --tertiary-color: #f7f2f2;
  --text-color: #2b2031;
  --link-color: #d24b86;
  --text-font-family: "Montserrat", sans-serif;
  --header-font-family: "Sue Ellen Francisco", cursive;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font-family);
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-family: var(--header-font-family);
  font-size: 64px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h5 {
  text-align: left;
  color: var(--primary-color);
  font-size: 24px;
}

h6 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
}

nav li {
  display: inline;
  padding: 12px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

nav {
  margin-top: 24px;
}

.intro {
  max-width: 60%;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--tertiary-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.social-links a {
  color: var(--primary-color);
  padding: 8px;
}

.social-links a:hover {
  color: var(--link-color);
}

.link-active {
  color: #efbdd3;
}

.portfolio-icon {
  font-size: 64px;
}

.coding-credit {
  font-size: 12px;
}

.about-me-container {
  margin: 32px;
}

.about-me-content {
  text-align: left;
}

@media (max-width: 770px) {
  h1 {
    font-size: 48px;
  }

  .btn-primary {
    font-size: 16px;
  }
}
